body {
    background-color: #221e31;
    font-family: 'Oswald', sans-serif;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95%;
    outline: 0;
    font-size: 4vh;
    font-family: 'Oswald', sans-serif;
    border: none;
    text-decoration: none;
}

.btn-number {
  border-radius: 999px;
  background-color: #c5dbd4;
  text-shadow: 0 0 0.5vmin #778e98, 0 0 0.5vmin #778e98;
}

.btn-func {
    border-radius: 3vmin;
    background-color: #778e98;
    color: #c5dbd4;
    text-shadow: 0 0 0.5vmin #221e31, 0 0 0.5vmin #221e31;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr repeat(5, 1fr);
  grid-template-areas:
    "display display display display"
    "clear clear clear division"
    "seven eight nine multiplication"
    "four five six subtraction"
    "one two three addition"
    "zero zero dot equals";
  margin: 10vh auto;
  max-width: 70vh;
  min-height: 70vh;
  padding: 10px;
  background-color: #41485d;
  border-radius: 2vh;
}

.subcont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
}

/* Background colors just for reference */
.display {
  display: inline-block;
  padding-right: 1.5vw;
  padding-top: 1.5vh;
  background: #c5dbd4;
  grid-area: display;
  margin: 1vw 1vw 1vw 1vw;
  border-radius: 1vh;
  font-size: 12vw;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}
.clear {
  grid-area: clear;
}
.division {
  grid-area: division;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.multiplication {
  grid-area: multiplication;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.subtraction {
  grid-area: subtraction;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.addition {
  grid-area: addition;
}
.zero {
  grid-area: zero;
}
.dot {
  grid-area: dot;
}
.equals {
  grid-area: equals;
}

@media (max-width: 376px) {
    .display {
        display: inline-block;
        padding-right: 1.5vw;
        padding-top: 1.5vh;
        background: #c5dbd4;
        grid-area: display;
        margin: 1vw 1vw 1vw 1vw;
        border-radius: 1vh;
        font-size: 34px;
        text-align: right;
        word-break: break-all;
    }
}

@media (min-width: 640px) {
    .display {
        display: inline-block;
        padding-right: 1.5vw;
        padding-top: 1.5vh;
        background: #c5dbd4;
        grid-area: display;
        margin: 1vw 1vw 1vw 1vw;
        border-radius: 1vh;
        font-size: 70px;
        text-align: right;
        word-break: break-all;
    }
}