.btn {
  border-radius: 999px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr repeat(5, 1fr);
  grid-template-areas:
    "display display display display"
    "clear clear clear division"
    "seven eight nine multiplication"
    "four five six subtraction"
    "one two three addition"
    "zero zero dot equals";
  margin: 1vh 10vw 1vh 10vw;
  padding: 10px;
  background-color: black;
}

/* Background colors just for reference */
.display {
  background: red;
  grid-area: display;
  margin: 10px 10px 10px 10px;
}
.clear {
  background: blue;
  grid-area: clear;
}
.division {
  background: purple;
  grid-area: division;
}
.seven {
  background: yellow;
  grid-area: seven;
}
.eight {
  background: yellow;
  grid-area: eight;
}
.nine {
  background: yellow;
  grid-area: nine;
}
.multiplication {
  background: purple;
  grid-area: multiplication;
}
.four {
  background: yellow;
  grid-area: four;
}
.five {
  background: yellow;
  grid-area: five;
}
.six {
  background: yellow;
  grid-area: six;
}
.subtraction {
  background: purple;
  grid-area: subtraction;
}
.one {
  background: yellow;
  grid-area: one;
}
.two {
  background: yellow;
  grid-area: two;
}
.three {
  background: yellow;
  grid-area: three;
}
.addition {
  background: purple;
  grid-area: addition;
}
.zero {
  background: yellow;
  grid-area: zero;
}
.dot {
  background: yellow;
  grid-area: dot;
}
.equals {
  background: purple;
  grid-area: equals;
}